<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/output.css" rel="stylesheet" />
    <title>Books</title>
  </head>
  <body>
    <h1 class="text-blue-600">Books Show page</h1>
    <ul>
      <% for(let book of books) { %>
      <li>
        <a href="/api/books/<%=book._id %>">
          <b> <%= book.name %> </b> - <%=book.sales%>
        </a>
      </li>
      <% } %>
    </ul>
    <div>
      <a href="/api/books/new">New Book</a>
    </div>
  </body>
</html>
