<% layout('./layouts//boilerplate') -%>
<div class="max-w-screen-sm mx-auto py-10 px-5">
  <h2 class="text-center text-3xl font-extrabold mb-5 py-3">Error message:</h2>
  <div class="p-4 mb-4 text-center text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
    <p class="font-semibold text-lg"><%= err.message %></p>
    <hr class="my-4">
    <p class="break-all"><%= err.stack %></p>
  </div>
</div>
