<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Book</title>
  </head>
  <body>
    <form action="/api/books/new" method="POST">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="book[name]" placeholder="Name" required />
      </div>
      <div>
        <label for="body">Body:</label>
        <textarea id="body" name="book[body]" placeholder="Body" rows="10" required ></textarea>
      </div>
      <div>
        <label for="sales">Sales:</label>
        <input type="number" name="book[sales]" id="sales" value="0" min="0" step="1" required />
      </div>
      <div>
        <label for="genre">Genre:</label>
        <select name="book[genre]" id="genre" required>
          <% for(genre of bookGenre) { %>
          <option value="<%= genre %>"><%= genre %></option>
          <% } %>
        </select>
      </div>
      <div>
        <label for="published">Published:</label>
        <input type="date" name="book[published]" id="published" required />
      </div>
      <div>
        <label for="language">Language:</label>
        <select name="book[language]" id="language" required>
          <% for(language of bookLanguage) { %>
          <option value="<%= language %>"><%= language %></option>
          <% } %>
        </select>
      </div>
      <div>
        <button type="submit">Add</button>
        <a href="/api/books">Cancel</a>
      </div>
    </form>
  </body>
</html>
