
<% if(currentUser) { %>
  <div class="card">
    <h2 class="text-center font-extrabold mb-8 text-2xl">New Review</h2>
    <form action="/api/books/<%= book.id %>/reviews" method="POST">
        <div class="relative mb-3">
          <label for="description" class="label">Description:</label>
          <textarea class="input" id="description" name="review[description]" placeholder="Description" rows="3" required></textarea>
        </div>
        <div class="relative mb-3">
          <label for="rating" class="label">Rating:</label>
          <input class="w-full" type="range" name="review[rating]" id="rating" value="3" min="1" max="5" step="1" required />
        </div>
        <div class="mt-5">
          <button class="btn green-btn" type="submit">Add</button>
          <button class="btn yellow-btn" type="reset">Reset</button>
        </div>
    </form>
  </div>
<% } %>